{% if project.category == 'sermon' %}
<h5 class="text-muted">지난 설교 보기</h5>
<div class="list-group list-group-flush overflow-auto">
  {% for related in site.portfolio reversed %} {% if related.category ==
  'sermon' and related.date != project.date %}
  <a
    class="list-group-item list-group-item-action text-left"
    data-dismiss="modal"
    data-toggle="modal"
    href="#p{{ forloop.length | minus: forloop.index0 }}"
  >
    {{ related.subtitle }} {{ related.date | date: "%F" }}
  </a>
  {% endif %} {% endfor %}
</div>
{% elsif project.category == 'praise' %}
<h5 class="text-muted">지난 찬양 보기</h5>
<div class="list-group list-group-flush overflow-auto">
  {% for related in site.portfolio reversed %} {% if related.category ==
  'praise' and related.date != project.date %}
  <a
    class="list-group-item list-group-item-action text-left"
    data-dismiss="modal"
    data-toggle="modal"
    href="#p{{ forloop.length | minus: forloop.index0 }}"
  >
    {{ related.subtitle }} {{ related.date | date: "%F" }}
  </a>
  {% endif %} {% endfor %}
</div>
{% elsif project.category == 'blog' %}
<h5 class="text-muted">지난 소식 보기</h5>
<div class="list-group list-group-flush overflow-auto">
  {% for related in site.portfolio reversed %} {% if related.category == 'blog'
  and related.subtitle != project.subtitle %}
  <a
    class="list-group-item list-group-item-action text-left"
    data-dismiss="modal"
    data-toggle="modal"
    href="#p{{ forloop.length | minus: forloop.index0 }}"
  >
    {{ related.subtitle }} {{ related.date | date: "%F" }}
  </a>
  {% endif %} {% endfor %}
</div>
{% endif %}
