// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;

  img {
    width: 150px;
    height: 150px;
    border: 7px solid fade-out($black, 0.9);
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    transform: scale(0.7);
    text-transform: none;
  }

  p {
    margin-top: 0;
    transform: scale(0.7);
  }
}

@media (min-width: 768px) {
  .team-member {
    margin-bottom: 25px;
    text-align: center;

    img {
      width: 230px;
      height: 230px;
      border: 7px solid fade-out($black, 0.9);
    }

    h4 {
      margin-top: 25px;
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }
}